@font-face {
    font-family: Google-Sans;
    font-size: 1.03rem !important;
    src: url(Product-Sans-Regular.ttf);
}
@font-face{
    font-family: roboto-1;
    src: url(Roboto-Regular.ttf);
}

@font-face{
    font-family: roboto-2;
    src: url(Roboto-Medium.ttf);
}
*{
    color: #FFF;
    background: #161625 !important;
    outline: none;
    font-family: roboto-1;
    text-decoration: none;
    
}
.btn a{
    background: none !important;
}
.btn a:hover{
    text-decoration: none !important;
    color:white !important;
}

.navbar-1{
    
    margin-bottom: 50px;
    margin-top:0px !important;

}

.navbar-2{
    margin-top: 230px;
    margin-bottom: 0px !important;
}
#left-nav{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 12fr 1fr;
    list-style-type: none;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 1.1rem;
    width: 1490px !important;
    
    
}
#right-nav{
    list-style-type: none;
}

li a{
    padding-right: 30px;
    display: block;
    text-decoration: none;
    color: white !important;


}
a:hover{
    text-decoration: none !important;
    color: rgb(192, 163, 163) !important;
}
#foot-nav{
    display: grid;
    grid-template-columns: 27fr 1fr 1fr 1fr;
    list-style-type: none;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 5px;
    margin-top: -230px;
    width: 1490px !important;
}
.navr-2{
    text-align: center;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 1.1rem;

}
#last{
    margin-right: -20px;
}
#location{
    margin-right: auto;
    color: #b8b8f1d7;
}
#contact-btn{
    background-color: #357DED !important;
    border: none ;
    color: white ;
    padding: 10px 20px ;
    text-align: center;
    text-decoration: none ;
    display: inline-block ;
    margin-top: -5px;
    cursor: pointer ;
    width:100px;
    border-radius: 27px ;
    box-shadow: 2px 3px #0000002c;
    margin-left: 20px;
    font-size: 1.02rem;
    grid-column: 5/6 !important;
    font-family: Google-Sans !important;
    
}
#contact-btn:hover{
    background-color: #1a6aeb !important;
    
}
#quora{
    transform: scale(1.2) !important;
    margin-top: -3px !important;
}
#foot-nav img{
    opacity: 0.3 !important;
    transform: scale(1);
    align-content: center !important;
}
#foot-nav img:hover{
    opacity: 0.7 !important;
}
#location{
    font-family: Google-Sans;
    font-size: 1.4rem;
}
#foot-nav{
    margin-top: -100px !important;
}
.content{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 1490px !important;
}
.content *{
    background-color: #000008 !important;
}
.card{
    display: grid;
    grid-template-columns: 9fr 1fr 16fr;
    grid-column: 2/3;
    grid-gap: 0px !important;
    height: 440px;
    background-color: #000008 !important;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2),
    10px 10px 10px rgba(0,0,0,0.2),
    15px 15px 15px rgba(0,0,0,0.2);
    
}
.card-content *{
    padding: 40px 20px 40px 0px;
    background: #000008 !important;
    grid-column: 3/4;

}
.card img{
    grid-column: 1/2;
    align-self: center;
    margin-left: 20px;
    height: 150px;
    width: 266.7px;
}
.heading{
    font-family: Google-Sans;
    font-size: 2rem;
    text-align: left;
    padding-bottom: 0px !important;
}
.vl{
    grid-column: 2/3;
    background: white !important;
    width: 1px;
    align-self: center;
    opacity: 0.2;
    height: 80%;
    
}
.myname{
    margin-top: 20px;
    margin-bottom:20px !important;
    font-size: 1.16rem !important;
}
.btn{
    background-color: #357DED !important;
    border: none ;
    color: white ;
    padding: 10px 10px 10px 10px !important;
    display: inline-block ;
    margin-top: -5px;
    cursor: pointer ;
    width:100px;
    border-radius: 27px ;
    box-shadow: 2px 3px #0000002c;
    margin-left: 0px;
    font-size: 1.02rem;
    font-family: Google-Sans !important;
    text-align: center !important;

}
.btn:hover{
    background-color: #1a6aeb !important;
    
}
.active{
    background-color: white !important;
    border: none ;
    color: rgb(192, 163, 163) !important;
    padding: 5px 15px 10px 15px !important;
    display: inline-block ;
    margin-top: -5px;
    height:15px !important;
    border-radius: 27px ;
    box-shadow: 2px 3px #0000002c;
    margin-left: 0px;
    fill-opacity: 0.7 !important;
    font-family: Google-Sans !important;
    text-align: center !important;
}
.contentmain{
    padding-top: 50px;
}
.active:hover{
    background-color:rgb(236, 236, 236) !important;
    
}