@font-face {
    font-family: Google-Sans;
    font-size: 1.03rem !important;
    src: url(Product-Sans-Regular.ttf);
}
@font-face{
    font-family: roboto-1;
    src: url(Roboto-Regular.ttf);
}

@font-face{
    font-family: roboto-2;
    src: url(Roboto-Medium.ttf);
}
*{
    color: #FFF;
    background: #161625 !important;
    outline: none;
    font-family: roboto-1;
    text-decoration: none;
    
}
.btn a{
    background: none !important;
}
.btn a:hover{
    text-decoration: none !important;
    color:white !important;
}

.navbar-1{
    
    margin-bottom: 50px;
    margin-top:0px !important;

}

.navbar-2{
    margin-top: 230px;
    margin-bottom: 0px !important;
}
#left-nav{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 12fr 1fr;
    list-style-type: none;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 1.1rem;
    width: 1490px !important;
    
    
}
#right-nav{
    list-style-type: none;
}

li a{
    padding-right: 30px;
    display: block;
    text-decoration: none;
    color: white !important;


}
a:hover{
    text-decoration: none !important;
    color: rgb(192, 163, 163) !important;
}
#foot-nav{
    display: grid;
    grid-template-columns: 27fr 1fr 1fr 1fr;
    list-style-type: none;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 20px; 
    width: 1490px !important;
}
.navr-2{
    text-align: center;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 1.1rem;

}
#last{
    margin-right: -20px;
}
#location{
    margin-right: auto;
    color: #b8b8f1d7;
}
#github {
  transform: scale(0.5) !important;
  margin-top: -20px !important;
  margin-left: -20px;
}
#foot-nav img{
    opacity: 0.3 !important;
    transform: scale(1);
    align-content: center !important;
}
#foot-nav img:hover{
    opacity: 0.7 !important;
}
#location{
    font-family: Google-Sans;
    font-size: 1.4rem;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1490px !important;

}
.my_image{
    display: grid;
    grid-template-columns: 205fr 509fr 205fr;
    text-align: center;
}
.my_image img{
    height: 456px;
    width: 700px;
    grid-column: 2/3 !important;
    margin-top: 0px !important;
    margin-bottom: 100px !important;
}

.btn{
    background-color: #357DED !important;
    border: none ;
    color: white ;
    padding: 10px 20px 10px 20px !important;
    display: inline-block ;
    margin-top: -5px;
    cursor: pointer ;
    border-radius: 27px ;
    box-shadow: 2px 3px #0000002c;
    margin-left: 0px;
    font-size: 1.1rem;
    font-family: Google-Sans !important;
    text-align: center !important;

}
.btn:hover{
    background-color: #1a6aeb !important;
  
}
.info{
    padding-left: 50px;
    padding-top: 100px;
}
.heading_name{
    padding:10px 10px 10px 0px;
    font-size: 4rem;
    font-family: Google-Sans;
}
.myinfo{
    padding: 5px;
    padding-bottom: 20px;
    font-size: 1.4rem;
}
.active{
    background-color: white !important;
    border: none ;
    color: rgb(192, 163, 163) !important;
    padding: 5px 20px 10px 20px !important;
    display: inline-block ;
    margin-top: -5px;
    height:15px !important;
    border-radius: 27px ;
    box-shadow: 2px 3px #0000002c;
    margin-left: 0px;
    fill-opacity: 0.7 !important;
    font-family: Google-Sans !important;
    text-align: center !important;
}
#foot-nav{
    margin-top: -210px !important;
}
.active:hover{
    background-color:rgb(236, 236, 236) !important;
    
}
#foot-nav{
    margin-top: -210px !important;

}
.myinfo p{
    text-decoration: none;
    font-weight: bold !important;
}
